---
# tasks file for apcupsd-win

- name: "Install APCUPSd"
  ansible.builtin.package:
    name: "apcupsd"
    state: "present"

- name: "Build static variables"
  ansible.builtin.set_fact:
    apc_options_to_set: "{{ apc_options | selectattr('value', 'match', '.+') }}"
    apc_add_firewall_rules: "{{ true if ( x_is_cable_ether or x_is_netserver_on or x_enable_fw_rules ) else false }}"
  vars:
    x_is_cable_ether: "{{ true if ((apc_options | selectattr('name', '==', 'UPSCABLE') | last).value == 'ether') else false }}"
    x_is_netserver_on: "{{ true if ((apc_options | selectattr('name', '==', 'NETSERVER') | last).value is match('[Oo][Nn]')) else false }}"
    x_enable_fw_rules: "{{ apc_enable_fw_rules | default( false ) }}"

- name: "Update options in config file"
  ansible.builtin.lineinfile:
    line: "{{ item.name }} {{ item.value }}"
    path: "{{ apc_cfg_remote_path }}"
    regexp: "^([#]*|[\\t\\s]*){{ item.name }}[\\s\\t]+"
    state: "present"
  loop: "{{ apc_options_to_set }}"
  notify: ["restart apcupsd"]

- ansible.builtin.include_tasks: "lin-firewall-rules.yml"
  when: apc_add_firewall_rules
